Redirect 301 /2011/11/26/incremental-backup-rsync-ssh.html /posts/2011/11/26/incremental-backup-rsync-ssh
Redirect 301 /2011/05/30/forward-itunes-with-ssh.html /posts/2011/05/30/forward-itunes-with-ssh
