/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #000;
  font-family: 'Libre Baskerville', serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: 'Libre Baskerville', serif;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

/*****************************************************************************/
/*
/* Colors
/*
/*****************************************************************************/

$link-color: #4e6181;
$visited-link-color: #485366;
$hover-link-color: #a88587;
$column-background-color: rgba(220, 233, 255, 0.8);

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.hello-list {
  padding-top: 0;
}

.mydoings-list {
  margin: 0;
  padding: 0 0 0 0;

  ul {
    padding: 0;
    margin: 0 5px 0 5px;
  }

  h1 {
    font-size: 1.25em;
    font-style: italic;
    font-weight: 600;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #3a3a57;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

@media (max-width: 768px) {
  .site {
     padding: 0;
  }
}

#gravatar {
  float: left;
  padding: 0 0 10px 0;
}

.site {
  font-size: 115%;
  text-align: left;
  line-height: 1.5em;
  height: 100%;
}

ul, ol {
  list-style-position: inside;
}

a {
  color: $link-color;
  text-decoration: underline;
}

a:hover   {
  color: $hover-link-color;
}

a:visited:hover {
  color: $hover-link-color;
}

a:visited {
  color: $visited-link-color;
}

#column {
  background-color: $column-background-color;
  z-index: 1;
}

.header a {
  font-weight: bold;
}

.title {
  margin: 0;
  padding-top: 10px;
  text-align: center;
  font-size: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #3a3a57;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #3a3a57;
}

.footer {
  font-size: 80%;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 10px 10px 0;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;

}

.footer .rss img {
  border: 0;
}

#earth {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 250px;
}

#moon {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {

  h1 {
    text-align: center;
    font-size: 1.50em;
  }

  h2 {
    font-size: 1.25em;
  }
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
