---
layout: default
num_posts: 10
---

<div class="home">

  {{ content }}

  <ul class="project-section-list">
    <li>
      <h1 class="page-heading">Posts</h1>
      <ul class="projects-list">
        {% for post in site.posts %}
          {% if forloop.index > layout.num_posts %}
            {% break %}
          {% endif %}

          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            ({{ post.date | date: "%Y-%m-%d" }})
          </li>

        {% endfor %}
        <li><a href="/all-posts">More posts...</a></li>
      </ul>
    </li>

    <li>
      <h1 class="page-heading">Games</h2>
      <ul class="projects-list">
        <li><a href="https://birdcommander2.mtmckenna.com/">Bird Commander 2</a> - The Birds themed <a href="https://github.com/mtmckenna/js13k2022">js13k 2022 entry</a></li>
        <li><a href="https://absorbed.mtmckenna.com/">Absorbed</a> - <a href="https://github.com/mtmckenna/js13k2021">js13k 2021 entry</a> in WebGL using shaders and Signed Distance Functions</li>
        <li><a href="https://catlabyrinth.mtmckenna.com/">Pizza Cats Labyrinth</a> - <a href="https://www.lexaloffle.com/pico-8.php">Pico-8</a> platforming game with cats</li>
        <li><a href="https://votebymail.mtmckenna.com/">Vote by Mail</a> - <a href="https://github.com/mtmckenna/js13k2020">js13k 2020 entry</a> in canvas 2D</li>
        <li><a href="https://alienskullsnake.mtmckenna.com/">Alien Skull Snake</a> - WebGL arcade-style shooter</li>
        <li><a href="https://mf6.mtmckenna.com/">Matt Fantasy 6</a> - Wacky Final Fantasy-style mini-RPG in WebGL</li>
        <li><a href="https://infinitemissiles.mtmckenna.com">Infinite Missiles</a> - <a href="https://github.com/mtmckenna/js13k2019">js13k 2019 entry</a> in WebGL</li>
        <li><a href="https://convoirl.mtmckenna.com">Convo IRL</a> - <a href="https://js13kgames.com/#winners-mobile">js13k 2018 entry</a> about making friends</li>
        <li><a href="https://aicity.mtmckenna.com">AI City Planner</a> - City-building game in Ember/Three.js</li>
        <li><a href="https://www.spacepizzas.com">Space Pizzas</a> - Multiplayer game in Ember/Three.js/Node/Rails</li>
        <li><a href="https://hoops.mtmckenna.com">Endless Hoops</a> - Basketball game in Glimmer.js</li>
        <li><a href="https://www.croissantthepizzacat.com">Croissant the Pizza Cat</a> - Game in Ember/JavaScript starring Croissant</li>
      </ul>
    </li>

    <li>
      <h1 class="page-heading">Movies</h1>
      <ul class="projects-list">
        <li><a href="http://www.youtube.com/watch?v=78KSq7XY4c4">Framed Baby Photos</a></li>
        <li><a href="http://www.youtube.com/watch?v=TUNSWURtjTY">Strange Human Custom</a></li>
        <li><a href="http://www.youtube.com/watch?v=hzLjeCuYaV8">Signatures</a></li>
        <li><a href="http://www.youtube.com/watch?v=RL6mDtcLTcg">Creepy Crawlers Attack America</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLF3088E88B0397B0D">More movies...</a><li>
      </ul>
          </li>

    <li>
      <h1 class="page-heading">Software</h2>
      <ul class="projects-list">
        <li><a href="http://mtmckenna.github.io/green-button-grapher/">Green Button Grapher</a> - JavaScript tool to graph Green Button utility data</li>
        <li><a href="https://itunes.apple.com/us/app/no-budget-slate/id590309536?ls=1&mt=8">No Budget Slate</a> - Minimalist film slate for iPhone / iPad</li>
        <li><a href="http://www.whopaidthem.com">WhoPaidThem.com</a> - Quiz app to challenge political funding preconceptions</li>
        <li><a href="http://tpr.mtmckenna.com">Cal Auto Toilet Paper Replacer</a> - Undergraduate mechanical engineering project</li>
      </ul>
    </li>

    <li>
      <h1 class="page-heading">Tech Talks</h1>
      <ul class="projects-list">
        <li><a href="https://speakerdeck.com/mtmckenna/webgl-in-ember">WebGL in Ember</a> (2017-01-24)</li>
        <li><a href="https://www.youtube.com/watch?v=t9v3CBowdxw">Build a Game in Ember Starring Your Cat</a> (2016-03-30)</li>
        <li><a href="https://vimeo.com/165647735">Make a Game in Ember</a> (2016-04-06)</li>
        <li><a href="https://speakerdeck.com/mtmckenna/build-a-game-in-javascript-starring-your-cat">Build a Game in JavaScript Starring Your Cat</a> (2016-02-16)</li>
        <li><a href="https://speakerdeck.com/mtmckenna/pizza-vs-memory-leaks">Pizza vs. Memory Leaks</a> (2016-02-22)</li>
      </ul>
    </li>

    <li>
      <h1 class="page-heading">Writing</h1>
      <ul class="projects-list">
        <li><a href="http://www.3quarksdaily.com/3quarksdaily/2013/12/strained-analogies-between-recently-released-films-and-current-events-the-desolation-of-smaug-and-th.html">Strained Analogies Between Recently Released Films and Current Events</a> - <a href="http://www.3quarksdaily.com/">3 Quarks Daily</a></li>
        <li><a href="http://www.mcsweeneys.net/columns/american-policy-suggestions-from-a-chicago-sports-fan">American Policy Suggestions from a Chicago Sports Fan</a> - <a href="http://www.mcsweeneys.net/tendency/">McSweeney's</a></li>
        <li><a href="http://www.scq.ubc.ca/genesis-of-evolution/">Genesis of Evolution</a></li>
      </ul>
    </li>

    <li>
      <h1 class="page-heading">Profiles</h1>
      <ul class="projects-list">
        <li><a href="https://github.com/mtmckenna/">GitHub</a></li>
        <li><a href="http://www.linkedin.com/in/mtmckenna">LinkedIn</a></li>
        <li><a href="http://www.imdb.com/name/nm2333668/">IMDb</a></li>
        <li><a href="http://www.youtube.com/user/mtmckenna">YouTube</a></li>
      </ul>
    </li>
  </ul>
</div>

